# Deployment URL (e.g., https://your-domain.com or the Vercel generated URL)
NEXT_PUBLIC_SITE_URL=https://cnjsafaris.com

# Backend API Configuration
NEXT_PUBLIC_API_URL=https://your-backend-api.com

# Contact Information
NEXT_PUBLIC_WHATSAPP_NUMBER=+254721246414
NEXT_PUBLIC_EMAIL=info@cnjsafaris.com
NEXT_PUBLIC_PHONE=+254768396296